 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
 @import url(https://fonts.googleapis.com/icon?family=Material+Icons);

 $openSans: "Open sans", 'Arial', sans-serif;
 $times: "Times New Roman", sans-serif;
 $headColor: #3b5566;
 $headColorHover: #456579;

 $green: #7ed320;
 $greenHover: #85f806;

 $footerMinColor: #2a3c48;
 $footerMinHeight: 60px;

 